body {
    background-color: #343F68;
}

.container {
   display: flex;
   justify-content: center;
   align-items: center;
   position:absolute;
   top:0;
   bottom:0;
   right:0;
   left:0; 
}

.failed {
    font-size: 4em;
    color: red;
    font-weight: bold;
    display: none;
    border-style: solid;
    border-width: 2px;
    padding: 1em;
    text-align: center;
}

label {
    font-size: 3em;
    color: #FF8551;
    margin-right: 0.25em
}

input {
    float: right;
    font-size: 3em;
}

.login {
    display: block;
    margin: 1em;
}

.afterwork {
    display: none;
}

.btn {
    margin: auto 0.25em;
    font-size: 3em;
    background-color: #FF8551;
    color: white;
    padding: 0.75em;
    border-radius: 0.75em;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
}

.button:hover {
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

.list {
    display: none;
    margin: 1em;
}

.row {
    margin: 2em;
}

.loader {
    border: 16px solid #f3f3f3; /* Light grey */
    border-top: 16px solid #3498db; /* Blue */
    border-radius: 50%;
    width: 120px;
    height: 120px;
    animation: spin 2s linear infinite;
    display: none;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}